*.o
/write_mmr_pc
/swi_nested
/pong
/swi_external_agent_test/master
/swi_external_agent_test/slave
/swi_nested2
/read_remote_gpr
/zigzag/zigzag
/zigzag/zigzag16
/zigzag/zigzag4095
/zigzag/zigzag64
/zigzag/zigzag768
/swi_test
/idle/master
/idle/slave
/ret
/setilat
/loop2
/setallregs
/write_mmr
/testset
/hello
/return9
/write_mmr_memcpy
/div_by_zero
/ping
/selfmod2
/kaka
/write_mmr_unaligned
/short_loop
/set_other_pc/master
/set_other_pc/slave
/segv
/loop
/selfmod
/loop3
/see_load_addr
/read_mmr
/swi_num_test
/idle_test
/printf2
/write_mmr_pc2
/printf
